{% extends "base.html" %}
{% block title %}Manage records{% endblock %}
{% block content %}

<form method="POST" autocomplete="off" style="margin: 20px">
  <div class="form-group">
    <div class="form-row align-items-center">
        <label for="verbs_nb" class="col-sm-2 col-form-label" style="color: white">Verbs number:</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" name="verbs_nb" id="verbs_nb" value="{{ verbs_nb if verbs_nb }}">
        </div>
    </div>
    <br>
    <div class="form-row align-items-center">
        <label for="verbs_group" class="col-sm-2 col-form-label" style="color: white">Group:</label>
        <div class="col-sm-2">
            <select name="verbs_group" id="verbs_group" class="form-control form-select">
                <option value="{{verbs_group if verbs_group}}" selected hidden>{{verbs_group if verbs_group}}</option>
                <option value='Easy'>Easy</option>
                <option value='Medium'>Medium</option>
                <option value='Hard'>Hard</option>
                <option value='Easy_Medium'>Easy / Medium</option>
                <option value='Medium_Hard'>Medium / Hard</option>
                <option value='Mix'>Mix</option>
            </select>
        </div>
    </div>
    <br>
  <div class="form-row align-items-center">
    <input class="btn btn-primary btn-size" type="submit" name="draw_verbs" value="Draw verbs">&emsp;
    <input class="btn btn-success btn-size" type="submit" name="check" value="Check">&emsp;
      <font color="white" size="+1"><b>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          {{msg}}
        {% endfor %}
      {% endif %}
    {% endwith %}
      </b></font>
  </div>

  </div>
  <br>

  <div class="form-group">
    {% for item in verbs_array %}

    <div class="form-row align-items-center" style="color: white">
      <label for="{{ item[1][0] }}" class="col-sm-2 col-form-label" style="color: white">{{ item[0][0] }}</label>
      <div class="col-sm-2">
          <input class="form-control" type="text" name="{{ item[1][0] }}" id="{{ item[1][0] }}" placeholder="Verb" value="{{ item[1][1] }}" style="color: {{ item[1][2] }}">
      </div>
      <div class="col-sm-2">
          <input class="form-control" type="text" name="{{ item[2][0] }}" id="{{ item[2][0] }}" placeholder="Past Tense" value="{{ item[2][1] }}" style="color: {{ item[2][2] }}">
      </div>
      <div class="col-sm-2">
          <input class="form-control" type="text" name="{{ item[3][0] }}" id="{{ item[3][0] }}" placeholder="Past Participle" value="{{ item[3][1] }}" style="color: {{ item[3][2] }}">
      </div>
        {% if item[3][2] != "black" %}
            &emsp;{{ item[1][0] }} - {{ item[2][0] }} - {{ item[3][0] }}
        {% endif %}
    </div>
    <br>
    {% endfor %}

  </div>
</form>
{% endblock %}